* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #F3F2EF;
}

.content-container {
    display: flex;
    justify-content: center;
}

.flex-container {
    flex-basis: 1250px;
    margin: 0px 30px;
}

.mainContent {
    border-radius: 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

.columnone {
    width: 24%;
    margin-right: 9px;
    flex-grow: 1;
}

.columntwo {
    width: 48%;
    background-color: yellow;
    margin: 0px 9px;
    flex-grow: 1;

}

.columnthree {
    margin-left: 9px;
    width: 24%;
    flex-grow: 1;
}

/* Left Container */
.left-full-container {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #E0DFDC;
}


.profile-cover {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.profile-cover>.cover-image {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.profile-cover>.profile-image {
    width: 30%;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
    margin-top: -15%;
}

.left-text-container {
    margin: 0px 20px;
}

.name-details {
    margin: 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name-details>h3{
    color: #191919;
}
.name-details>p {
    margin: 8px 32px;
    text-align: center;
    font-size: 15px;
    color: #919191;

}
.left-line {
    color: #E0DFDC;
}
.followers-number {
    display: flex;
    justify-content: space-between;
    color: #919191;
    margin: 8px 0px;
}


.left-column-button>.connect-btn {
    width: 100%;
    margin: 8px 0px;
    color: #ffffff;
    background-color: #0A66C2;
    cursor: pointer;
    border: none;
    font-size: 18px;
    padding: 12px 0px;
    border-radius: 50px;
}

.left-column-button>.connect-btn:hover {
    background-color: #004182;
}

.left-column-button>.message-btn {
    width: 100%;
    color: #5E5E5E;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    font-size: 18px;
    padding: 12px 0px;
    border-radius: 50px;
    outline: 1px solid #5E5E5E;
    margin-bottom: 25px;
}

.left-column-button>.message-btn:hover {
    background-color: #EBEBEB;
    outline: 2px solid #5E5E5E;
}


/* Right Section */
.right-full-container {
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 20px;
    outline: 1px solid #EBEBEB;
}
h3.box-title {
    color: #6F6E6D;
    margin: 10px 0px;
}
h3.item-title {
    font-size: 14px;
    color: #595959;
}
.right-text-content {
    width: 100%;
    padding: 20px 10px; 
}
.items-link{
    text-decoration: none;
    display: flex;
    margin: 0px 0px;
    align-items: center;
}
.items-link:hover{
    text-decoration: underline;
    text-decoration-color: #5E5E5E;
}
.right-items {
    width: 100%;
    margin: 20px 0px;
}
.items-image {
    flex-basis: 25%;
    margin-right: 10px;
}
.items-text {
    margin-left: 10px;
    flex-grow: 1;
    flex-basis: 65%;
}
.items-text > h4{
    color: #191919;
}
.items-text > p{
    color: #5E5E5E;
    font-size: 14px;
    margin: 2px 0px;
}
.follow-btn{
    display: flex;              
}
.none{
    flex-basis: 25%;
    margin-right: 10px;
}
.btn{
    flex-basis: 65%;
    margin-left: 10px;
    flex-grow: 1;
}

button.right-item-btn {
    padding: 6px 16px;
    border: none;
    margin: 3px 0px;
    border-radius: 25px;
    outline: 1px solid #5E5E5E;
    color: #5E5E5E;
    background-color: #ffffff;
    font-weight: bold;
}
button.right-item-btn:hover {
    font-weight: bold;
    outline: 2px solid #5E5E5E;
    background-color: #EBEBEB;
}

img.items-img {
    width: 100%;
    border-radius: 50%;
}
a.see-all-right {
    text-decoration: none;
    color: #5e5e5e;
    padding: 5px;
}
a.see-all-right:hover {
    padding: 5px;
    background-color: #bdbdbd;
    text-decoration: none;
    color: #5e5e5e;
    border-radius: 3px;
}
a.see-all-right>i {
    color: #5e5e5e;
}

img.items-img-company {
    width: 100%;
}
.footer-nav{
    padding: 0px 20px;
}
.nav-link{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}
.nav-link>a{
   text-decoration: none;
   margin: 3px 5px;
   font-size: 14px;
   color: #5E5E5E;
}
.nav-drop>a{
    text-decoration: none;
    margin: 3px 5px;
    font-size: 14px;
    color: #5E5E5E;
 }
 .nav-drop>i{
    color: #5E5E5E;
 }
.footer-title {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-title>p{
    font-size: 14px;
    color: #181817;
}
.footer-title>p>i{
    color: #0A66C2;
    margin-right: 3px;
}

#privacy-up{
    cursor: pointer;
}
#privacy-down{
    cursor: pointer;
}
#privacy-up{
    cursor: pointer;
}
#privacy-down{
    cursor: pointer;
}
.nav-drop {
    position: relative;
}
.privacy-drop-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: 1px solid #EBEBEB;
    position: absolute;
    top: -80px;
    z-index: 1;
    background-color: #fff;
    padding: 5px 12px;
    border-radius: 8px 8px 0px 8px;
    left: -18px;
    width: 150px;
}
.privacy-drop-down>a{
    text-decoration: none;
    color: #000; 
}
.privacy-drop-down>a:hover{
    text-decoration: underline;
    
}





/* middle column */
.middle-full-with{
    width: 100%;
}
.middle-item-full{
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    outline: 1px solid #A4A4A4;
}
.activity-btn{
    display: flex;
    margin-top: 20px;

}
.act-btn{
    border: none;
    padding: 5px 10px;
    margin-right: 20px;
    flex-grow: 1;
    background-color: #ffffff;
    color: #5E5E5E;
    outline: 1px solid #A4A4A4;
    border-radius: 12px;
    font-size: 14px;
    
}
.act-btn:hover{
    outline: 2px solid #A4A4A4;
    background-color: #EBEBEB;
}
.active{
    background-color: #057642;
    outline: 2px solid #057642;
    color: #fff;
}
.active:hover{
    background-color: #057642;
    outline: 2px solid #057642;
    color: #fff;
}
.nothing-item-full{
    margin: 20px 0px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    outline: 1px solid #A4A4A4;
}
.nothing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nothing>img{
    width: 100%;
}
.documents-item-full{
    margin: 20px 0px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    outline: 1px solid #A4A4A4;
}
.documents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.documents>img{
    width: 100%;
}
.posts-item-full{
    margin: 20px 0px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    outline: 1px solid #A4A4A4;
}
.posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.posts>img{
    width: 100%;
}
@media (min-width: 1440px) {}

/*large Device*/

@media (min-width: 992px) and (max-width: 1199px) {}

/*Medium Device*/

@media (min-width: 768px) and (max-width: 991px) {
    .columnone {
        width: 31%;
        flex-grow: 1;
    }

    .columntwo {
        width: 66%;
        margin: 0px;
        flex-grow: 0;
    }

    .columnthree {
        margin-left: 0px;
        width: 66%;
        flex-grow: 0;
    }
    /* righit column */
    .items-image {
        flex-basis: 12%;
        margin-right: 10px;
    }
    .items-text {
        margin-left: 10px;
        flex-grow: 1;
        flex-basis: 73%;
    }
    .none{
        flex-basis: 12%;
        margin-right: 10px;
    }
    .btn{
        flex-basis: 73%;
        margin-left: 10px;
        flex-grow: 1;
    }
    

}

/* Small Device*/

@media (min-width: 576px) and (max-width: 767px) {
    .columnone {
        width: 100%;
        margin: 15px 0px!important;
        margin: 0;
    }

    .columntwo {
        width: 100%;
        margin: 0;
        background-color: yellow;
   
    }

    .columnthree {

        margin: 0;
        width: 100%;

    }
    /* righit column */
    .items-image {
        flex-basis: 12%;
        margin-right: 10px;
    }
    .items-text {
        margin-left: 10px;
        flex-grow: 1;
        flex-basis: 73%;
    }
    .none{
        flex-basis: 12%;
        margin-right: 10px;
    }
    .btn{
        flex-basis: 73%;
        margin-left: 10px;
        flex-grow: 1;
    }

}

/*Mobile Device*/

@media (min-width: 420px) and (max-width: 575px) {
    .columnone {
        width: 100%;
        margin: 15px 0px!important;
        margin: 0;
    }

    .columntwo {
        width: 100%;
        margin: 0;
        background-color: yellow;

    }

    .columnthree {

        margin: 0;
        width: 100%;

    }
    /* righit column */
    .items-image {
        flex-basis: 15%;
        margin-right: 10px;
    }
    .items-text {
        margin-left: 10px;
        flex-grow: 1;
        flex-basis: 70%;
    }
    .none{
        flex-basis: 15%;
        margin-right: 10px;
    }
    .btn{
        flex-basis: 70%;
        margin-left: 10px;
        flex-grow: 1;
    }
    .act-btn{
        border: none;
        padding: 5px 10px;
        margin-right: 10px;
        flex-grow: 1;
        background-color: #ffffff;
        color: #5E5E5E;
        outline: 1px solid #A4A4A4;
        border-radius: 12px;
        font-size: 14px;
        
    }
}

/* Small Mobile Device */
@media (min-width: 320px) and (max-width: 419px) {
    .columnone {
        width: 100%;
        margin: 15px 0px!important;
        margin: 0;
    }

    .columntwo {
        width: 100%;
        margin: 0;
        background-color: yellow;
 
    }

    .columnthree {
        margin: 0;
        width: 100%;

    }
    /* righit column */
    .items-image {
        flex-basis: 18%;
        margin-right: 10px;
    }
    .items-text {
        margin-left: 10px;
        flex-grow: 1;
        flex-basis: 65%;
    }
    .none{
        flex-basis: 18%;
        margin-right: 10px;
    }
    .btn{
        flex-basis: 65%;
        margin-left: 10px;
        flex-grow: 1;
    }
    .middle-item-full{
        width: 100%;
        padding: 10px;
        background-color: #fff;
        border-radius: 12px;
        outline: 1px solid #A4A4A4;
    }
    .act-btn{
        border: none;
        padding: 5px 5px;
        margin-right: 6px;
      
        background-color: #ffffff;
        color: #5E5E5E;
        outline: 1px solid #A4A4A4;
        border-radius: 12px;
        font-size: 12px;
        
    }
}